{% extends 'base.html'%}
{% block body %}

	<div class="container">
	<table class="center">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Date</th>
			<th>Action</th>
		</tr>
		{% for task in todo %}
			<tr>
				<td>{{task.id}}</td>
				<td>{{task.content}}</td>
				<td>{{task.created_date.date()}}</td>
				<td>
					<a href="/delete/{{task.id}}">Delete</a><br>
					<a href="/update/{{task.id}}">Update</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	<h5 class = text-decoration-color: red;>Create-NewTask</h5>
	<form action="/" method="POST">
		<input type="text" name="content",id="content">
		<input type="submit" name="Add Task">
	</form>
</div>
{% endblock %}